{% extends "templates/base.twig" %} 

{% block head %}
{{ parent() }}
<style>
    body {
        padding-top: 70px;
        padding-bottom: 40px;
        background-color: #eee;
    }
</style>

{% endblock %}

{% block content %}

    {% include "templates/partials/navigation.twig" %}

    <h2 style="text-align: center;">Slim Skeleton <small>lalocespedes</small></h2>

{% endblock %}
