<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if auth.check %}
                    <li>
                        <a>{{ auth.user.username }}</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gear"></i></a>
                    </li>
                    <li><a href="{{path_for('logout')}}" title="Salir"><i class="fa fa-sign-out"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
